<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="jquery.js"></script>
    <script src="highlight.min.js"></script>
    <script src="nav.js"></script>

    <!-- Code Monospace Font -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="gevent.css">

    <!-- Syntax Highlighting Theme -->
    <link rel="stylesheet" href="github.min.css">

    <title>Введение в gevent для практикующего питониста</title>
</head>
<style>

</style>
<body>
<div class="container">

<div id="sidebar" class="three columns sidebar">
    <nav>
    </nav>
</div>

<div class="twelve columns offset-by-three content">

    <header>
        <h1><span class="green">Gevent</span> для практикующего питониста</h1>
        <h3 class="author">
            Написано пользователями Gevent
        </h3>

        <blockquote>
        gevent -- это библиотека для организации одновременных вычислений на основе <a href="http://software.schmorp.de/pkg/libev.html">libev</a>. gevent предоставляет удобный API для задач, связанных с одновременной обработкой данных и работой с сетью.
        </blockquote>
    </header>

    {{ body }}
</div>

</body>
</html>
